<h2>Update the drone</h2>

<form action="/drones/{{id}}/edit" method="POST">
    <label for="name">Drone name:</label>
    <input id="name" name="name" type="text" value="{{name}}"></input>

    <label for="propeller">Number of propellers:</label>
    <input id="propeller" name="propeller" type="text" value="{{propellers}}"></input>

    <label for="speed">Maximum speed:</label>
    <input id="speed" name="speed" type="text" value="{{maxSpeed}}"></input>
    <button type="submit">Edit Drone</button>
</form>